###############################################################################
# bb_01_virtualhost.conf
# copied from hhs_ansible
# playbook/appserver/roles/app_update/templates/bb_01_virtualhost.conf.https.j2
# SSL is ON. ie. https protocol used.
###############################################################################

# Copied to /etc/httpd/conf.d/bb_01_virtualhost.conf
# Configured for Apache 2.4

WSGISocketPrefix /var/run/modwsgi

WSGIApplicationGroup %{GLOBAL}
WSGIPythonHome {{ cf_app_py_virtual_env }}
WSGIPythonPath {{ cf_app_pyapp_home }}:{{ cf_app_py_virtual_env }}/bin:/usr/local/bin:{{ cf_app_py_virtual_env }}/lib/python{{ python_ver }}/site-packages

<VirtualHost *:80>
    # Re-write rule to switch requests to https (port 443) on load balancer
    # JIRA http://issues.hhsdevcloud.us/browse/CBBP-450
    RewriteEngine On
    RewriteCond %{HTTP:X-Forwarded-Proto} =http
    RewriteRule . https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

    # disable apache debugging
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule .* - [F]

    ServerAdmin webmaster@{{ cf_app_pyserver_name }}
    DocumentRoot /var/www/doc/{{ cf_app_pyserver_name|lower }}
    ErrorLog logs/{{ cf_app_pyserver_name|lower }}-error_log
    CustomLog logs/{{ cf_app_pyserver_name|lower }}-access_log common
    LogLevel warn

    # Set ServerName to match letsencrypt certificate
    ServerName {{ cf_app_tag_key_layer|lower }}{{ app_ip_last_octet.stdout }}.{{ external_dns_name }}

    WSGIDaemonProcess apache user={{ env_cf_app_pyapps_user }} group=apache python-home={{ cf_app_py_virtual_env }} python-path={{ cf_app_py_virtual_env }}/bin:/usr/local/bin:{{ cf_app_py_virtual_env }}/lib/python{{ python_ver }}/site-packages
    WSGIProcessGroup apache
    WSGIScriptAlias / {{ cf_app_pyapp_home }}/hhs_oauth_server/hhs_oauth_server/wsgi.py
    WSGIPassAuthorization on

    # Directory specification needed to allow apache to load wsgi.py
    # Directory  to point to folder where wsgi.py stored

    <Directory {{ cf_app_pyapp_home }}/hhs_oauth_server/hhs_oauth_server>
        # Apache 2.4 command:
        Require all granted
        # Apache 2.2 commands:
        # Order allow,deny

    </Directory>

    <Directory {{ cf_app_pyapp_home }}/hhs_oauth_server/hhs_oauth_server/settings>
        # Apache 2.4 command:
        Require all granted
        # Apache 2.2 commands:
        # Order allow,deny
        <Files base.py >
            Allow from all

        </Files>

        <Files production.py>
            Allow from all

        </Files>

        <Files aws*.py>
            Allow from all

        </Files>

    </Directory>

    # Alias /static/ {{ cf_app_pyapp_home }}/hhs_oauth_server/collectedstatic/
    # Alias /media/  {{ cf_app_pyapp_home }}/hhs_oauth_server/media/
    <Directory {{ cf_app_pyapp_home }}/hhs_oauth_server/collectedstatic>
        # Apache 2.4 command:
        Require all granted
        # Apache 2.2 commands:
        # Allow from all
        # Order deny,allow

    </Directory>

    <Directory {{ cf_app_pyapp_home }}/hhs_oauth_server/media>
        # Apache 2.4 command:
        Require all granted
        # Apache 2.2 commands:
        # Allow from all
        # Order deny,allow

    </Directory>

    <Directory {{ cf_app_pyapp_home }}/hhs_oauth_server>
        # Apache 2.4 command:
        Require all granted
        # Apache 2.2 commands:
        # Order allow,deny
        # Allow from all

    </Directory>

    ##########################################################################
    # Adding Swagger-ui files

    Alias /devdocs/ {{ swagger_ui_parent_dir }}/swagger-ui/dist/

    <Directory "{{ swagger_ui_parent_dir }}/swagger-ui/dist">
	# Apache 2.4 command:
	Require all granted

    </Directory>
    ##########################################################################
    # Adding swagger data for hhs_oauth_server api

    # Alias /devdocs_bbonfhirapi/ /var/www/doc/swagger_docs/
    Alias {{ swagger_external_path }} {{ cf_app_pyapp_home }}/hhs_oauth_server/apidocs/

    <Directory "{{ cf_app_pyapp_home }}/hhs_oauth_server/apidocs/">
	# Apache 2.4 command:
	Require all granted
	<Files bbonfhir*.json>
            Allow from all

        </Files>

        <Files bbonfhir*.yaml>
            Allow from all

	</Files>
    </Directory>
    ##########################################################################


</VirtualHost>


