[Unit]
Description=uWSGI - Blue Button 2.0

[Service]
ExecStart=/sbin/uwsgi --emperor /etc/uwsgi/vassals --logto /var/log/uwsgi-emperor.log
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
