# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# The following lines are desirable for IPv6 capable hosts.
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

{% set ct = 0 %}
{% set hv = hostvars %}
{% for host in hv %}

{% set host_ipv4 = hv[host]['ansible_default_ipv4']['address'] %}
{{ host_ipv4 }}   {{ hv[host]['ansible_env']['HOSTNAME'] }}

# {{  splunk_name_mapper[hv[host]['group_names'][0]]|lower }}-{{ host_ipv4.split('.')[3] }}.{{ external_dns_name }}

    # HOST:{{ hv[host]['ansible_default_ipv4']['address']  }}
{% set ct = ct + 1 %}
{% endfor %}