# {{ ansible_managed }}
# written by playbook/platform/write_etc_hosts.yml
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# The following lines are desirable for IPv6 capable hosts.
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

{% set group_name = '' %}
{% for host in hostvars %}
{% if hostvars[host]['group_names'][0] != group_name %}# GROUP: {{ hostvars[host]['group_names'][0] }}{% set group_name = hostvars[host]['group_names'][0] %}{% endif %}
{% set host_ipv4_last_octet = host.split('.')[3] %}
{{ host }}  {{  splunk_name_mapper[hostvars[host]['group_names'][0]]|lower }}-{{ host_ipv4_last_octet }}.{{ external_dns_name }}
{% endfor %}