[default]
aws_access_key_id = {{ cf_app_aws_content_key_id }}
aws_secret_access_key = {{ cf_app_aws_content_access_key }}

[pyapps-{{ env }}-content]
aws_access_key_id = {{ cf_app_aws_content_key_id }}
aws_secret_access_key = {{ cf_app_aws_content_access_key }}
