######################################################
# ssl.conf
# copied from hhs_ansible
# playbook/appserver/roles/app_update/templates/ssl.conf.http.j2
# SSL is OFF. ie. http protocol used.
######################################################
# When we also provide SSL we have to listen to the
# the HTTPS port in addition.
#
# Listen 443 https

