#!/bin/bash
# postgres

export DJANGO_APP_ROOT={{ install_root }}/{{ project_name }}
export PATH="$PATH:$DJANGO_APP_ROOT"

# http://www.miniwebtool.com/django-secret-key-generator/
export DJANGO_SECRET_KEY='{{ django_secret_key }}'
export DJANGO_SETTINGS_MODULE='{{ django_settings_module }}'
export DJANGO_ASSETS_ROOT="{{ install_root }}/{{ project_name }}"
export THS_FHIR_SERVER='{{ ths_fhir_server }}'
export THS_FHIR_PATH='{{ ths_fhir_path }}'
export THS_FHIR_RELEASE='{{ ths_fhir_rel }}'
export THS_FHIR_REWRITE_FROM='["{{ ths_fhir_server }}{{ ths_fhir_path }}{{ ths_fhir_rel }}",]'
export THS_FHIR_REWRITE_TO='{{ ths_fhir_rewrite_to }}'
export DJANGO_SLS_USER='ben'
export DJANGO_SLS_PASSWORD='pbkdf2_sha256$24000$V6XjGqYYNGY7$13tFC13aaTohxBgP2W3glTBz6PSbQN4l6HmUtxQrUys='
export DJANGO_SLS_FIRST_NAME='Ben'
export DJANGO_SLS_LAST_NAME='Barker'
export DJANGO_SLS_EMAIL='ben@example.com'
export HOSTNAME_URL='{{ host_url }}'

# Full set of EMAIL Variables
# DJANGO_EMAIL_BACKEND
# DJANGO_EMAIL_HOST: 'email-smtp.us-east-1.amazonaws.com'
## SES PORT options: 25, 465, 587, 2465 or 2587.#}
## Port 25 is throttled#}
## Use port 587 or 2587 for TLS connections#}
## Use port 465 or 2465 for Native SSL support#}
# DJANGO_EMAIL_PORT: 587
# DJANGO_EMAIL_USE_TLS: True
# DJANGO_EMAIL_USE_SSL: False
# DJANGO_EMAIL_TIMEOUT: None
# DJANGO_EMAIL_HOST_USER
# DJANGO_EMAIL_HOST_PASSWORD
# DJANGO_EMAIL_SSL_KEYFILE: None
# DJANGO_EMAIL_SSL_CERTFILE: None

# email backend options are:
# 'django.core.mail.backends.smtp.EmailBackend'
# 'django.core.mail.backends.filebased.EmailBackend'
# 'django.core.mail.backends.locmem.EmailBackend'
# 'django.core.mail.backends.dummy.EmailBackend'
# 'django_ses.SESBackend'
# Set REPLACE setting to one of the options listed above
export DJANGO_EMAIL_BACKEND='{{ django_email_backend }}'
export DJANGO_REGION_SES_NAME='{{ django_email_region }}'
export DJANGO_REGION_SES_ENDPOINT='{{ django_email_ses_endpoint }}'
export DJANGO_FROM_EMAIL='{{ django_from_email }}'
export DJANGO_ADMIN_EMAIL='{{ django_admin_email }}'

# SALT and ITERATIONS
export DJANGO_USER_ID_SALT='{{ django_user_id_salt }}'
export DJANGO_USER_ID_ITERATIONS='{{ django_user_id_iterations }}'

# AWS SETTINGS - account: {{ s3_bucket_account }}
export AWS_ACCESS_KEY_ID='{{ aws_access_id }}'
export AWS_SECRET_ACCESS_KEY='{{ aws_secret_key }}'
export AWS_STORAGE_BUCKET_NAME='{{ s3_storage_bucket_name }}'

# Organization and Application Info
export DJANGO_ORGANIZATION_NAME='{{ django_org_name }}'
export DJANGO_APPLICATION_TITLE='{{ django_app_title }}'

# admin prepend url
export DJANGO_ADMIN_PREPEND_URL='{{ django_admin_redirector }}'

# Database Settings - PostgreSQL - Start
export RDS_DB_PLATFORM='{{ db_platform_type }}'
export RDS_DB_ENGINE='{{ db_engine_driver }}'
export RDS_DB_NAME='{{ db_name }}'
export RDS_USERNAME='{{ db_user_name }}'
export RDS_PASSWORD='{{ db_user_pw }}'
export RDS_HOSTNAME='{{ db_host_address }}'
export RDS_PORT='{{ db_host_port }}'
# Pass options in a url query string
# e.g. '?key1=value1&key2=value2'
export RDS_DB_OPTIONS='{{ db_host_options }}'

# postgres://USER:PASSWORD@HOST:PORT/NAME
export DEFAULT_DB_SET="$RDS_DB_PLATFORM://$RDS_USERNAME:$RDS_PASSWORD@$RDS_HOSTNAME:$RDS_PORT/$RDS_DB_NAME"
export DEFAULT_DB_SET="$DEFAULT_DB_SET$RDS_DB_OPTIONS"
# Using dj_database_url in settings
export DATABASES_CUSTOM="$DEFAULT_DB_SET"

#
# MyMedicare Authentication Integration
#
export DJANGO_SLS_TOKEN_ENDPOINT='{{ sls_token_endpoint }}'
export DJANGO_MEDICARE_LOGIN_URI='{{ medicare_login_uri }}'
export DJANGO_MEDICARE_REDIRECT_URI='{{ medicare_redirect_uri }}'
export DJANGO_MEDICARE_LOGIN_TEMPLATE_NAME='{{ medicare_login_template_name }}'
export DJANGO_AUTHORIZATION_TEMPLATE_NAME='{{ authorization_template_name }}'
export DJANGO_SLS_VERIFY_SSL='{{ sls_verify_ssl }}'


echo "Django Settings are set for $DJANGO_SETTINGS_MODULE"
echo "Django Email Settings are set for $DJANGO_EMAIL_BACKEND"
echo "DATABASES_CUSTOM=$DATABASES_CUSTOM"
echo "based on DEFAULT_DB_SET=$DEFAULT_DB_SET"
