#!/bin/bash
# Set APP_ROOT, DEBUG and DJANGO_SETTINGS_MODULE
# All other settings are set in file defined in DJANGO_SETTINGS_MODULE
# which should inherit from base.py

export DJANGO_APP_ROOT={{ install_root }}/{{ project_name }}
export PATH="$PATH:$DJANGO_APP_ROOT"

export DJANGO_DEBUG='{{ django_debug }}'
export DJANGO_SETTINGS_MODULE='{{ django_settings_module }}'

