---
- name: "Check python3 version"
  become_user: "{{ remote_admin_account }}"
  become: yes
  shell: python3 --version 2>&1
  register: p_ver

- debug:
    msg: "{{ p_ver }}"

- name: "Check python3.8 version"
  become_user: "{{ remote_admin_account }}"
  become: yes
  shell: /usr/bin/python3.8 --version 2>&1
  register: p38_ver

- debug:
    msg: "{{ p38_ver }}"

- name: "Check usr bin python..."
  become_user: "{{ remote_admin_account }}"
  become: yes
  shell: ls /usr/bin/python*
  register: usr_bin_pythons

- debug:
    msg: "{{ usr_bin_pythons }}"

- name: "Create Virtualenv"
  become_user: "{{ remote_admin_account }}"
  become: yes
  shell: "cd /var/virtualenv; {{ python_bin_dir }}/python{{ python_ver }} -m venv {{ project_dir }}"

- name: Ensure group "www-data" exists
  become_user: "{{ remote_admin_account }}"
  become: yes
  group:
    name: "{{ app_group }}"
    state: present

- name: "Set permissions to application code"
  become_user: "{{ remote_admin_account }}"
  become: yes
  file:
    dest: "{{ app_pyapp_home }}"
    state: directory
    recurse: yes
    owner: "{{ app_pyapps_user }}"
    group: "{{ app_group }}"
    mode: 0755

- name: "set ownership to pyapps:www-data ({{ app_pyapps_user }}:{{ app_group }})"
  become_user: "{{ remote_admin_account }}"
  become: yes
  file:
    owner: "{{ app_pyapps_user }}"
    group: "{{ app_group }}"
    dest: "/var/virtualenv"
    state: directory
    recurse: yes

- name: "install from git: {{ project_repo }} branch:{{ git_branch }}"
  become_user: "{{ remote_admin_account }}"
  become: yes
  git:
    repo: "{{ project_repo }}"
    dest: "{{ install_root }}/{{ project_name }}"
    force: yes
    clone: yes

- name: "update from git: {{ project_repo }} branch:{{ git_branch }}"
  become_user: "{{ remote_admin_account }}"
  become: yes
  git:
    repo: "{{ project_repo }}"
    dest: "{{ install_root }}/{{ project_name }}"
    version: "{{ git_branch }}"
  register: git_history

- name: "clone bluebutton-css to hhs_oauth_server app base directory"
  become_user: "{{ remote_admin_account }}"
  become: yes
  git:
    repo: "{{ css_repo }}"
    dest: "{{ install_root }}/{{ project_name }}/{{ css_dir }}"
    force: yes
    clone: yes

- name: "set permissions to application code ( {{ app_pyapps_user }}:{{ app_group }} )"
  become_user: "{{ remote_admin_account }}"
  become: yes
  file:
    dest: "{{ app_pyapp_home }}"
    state: directory
    recurse: yes
    owner: "{{ app_pyapps_user }}"
    group: "{{ app_group }}"
    mode: 0755

- name: "install requirements"
  become_user: "{{ remote_admin_account }}"
  become: yes
  shell: |
    source {{ app_py_virtual_env }}/bin/activate && pip install -r requirements/requirements.dev.txt --no-index --find-links ./vendor/
  args:
    chdir: "{{ app_pyapp_home }}/{{ common_project_name }}"
  register: out

- debug: var=out.stdout_lines

# Use task directly rather than importing from deprecated location
- name: "Create a back-end app certstore"
  become_user: "{{ remote_admin_account }}"
  become: yes
  file:
    dest: "{{ app_pyapp_home }}/certstore"
    mode: 0750
    owner: "{{ app_pyapps_user }}"
    group: "{{ app_group }}"
    recurse: yes
    state: directory

- name: "Create run dir for service .sock/.pid files"
  become_user: "{{ remote_admin_account }}"
  become: yes
  file:
    dest: "{{ app_pyapp_home }}/run"
    mode: 0755
    owner: "{{ app_pyapps_user }}"
    group: "{{ app_group }}"
    recurse: yes
    state: directory

# change ownership of files
- name: "Update file ownership"
  become_user: "{{ remote_admin_account }}"
  become: yes
  file:
    path: "{{ install_root }}/{{ project_name }}/"
    recurse: yes
    owner: "{{ app_owner }}"
    group: "{{ app_group }}"
    mode:  "u+rw,g+rw,o-rwx"

# Change ownership for libraries
- name: "Change ownership for libraries"
  become_user: "{{ remote_admin_account }}"
  become: yes
  file:
    path: "{{ venv }}"
    recurse: yes
    owner: "{{ app_owner }}"
    group: "{{ app_group }}"
    mode:  "u+rw,g+rw,o-rwx"

- name: make manage.py executable
  become_user: "{{ remote_admin_account }}"
  become: yes
  file:
    path: "{{ install_root }}/{{ project_name }}/manage.py"
    state: touch
    mode: "u+rwx,g+rwx,o-rwx"
