# This is the default ansible 'hosts' file.
#
# It should live in /etc/ansible/hosts
#
#   - Comments begin with the '#' character
#   - Blank lines are ignored
#   - Groups of hosts are delimited by [header] elements
#   - You can enter hostnames or ip addresses
#   - A hostname/ip can be a member of multiple groups

######
## Environment: {{ env|upper }}
##
#####

[mgmtservers]
{% for host in ec2_remote_facts_info %}
    {{ host }}
{% endfor %}

[appservers]

{% endfor %}

[dbservers]
