#!/usr/bin/env bash
export ANSIBLE_HOME=/hhs_ansible/hhs_ansible
echo "###################################################################"
echo "# Create your AWS config and credentials files in /root/.aws "
echo "# "
echo "# Create vault-password-file "
echo "# suggested location: /root/.ansible-vault/vault_pass.txt "
echo "# "
echo "# Create private-key / .pem files  for access to managed machines "
echo "# suggested folder location: /root/.ec2 "
echo "# "
echo "###################################################################"
