---
- name: "Run django command"
  hosts: all
  remote_user: ec2-user
  gather_facts: no
  vars:
    ansible_ssh_pipelining: no
  vars_files:
    - "./../../vars/common.yml"
    - "./../../vars/env/{{ env }}/env.yml"
    - "./../../vars/all_var.yml"
  tasks:
    - name: "Run django command: {{ django_command }}"
      become_user: "{{ remote_admin_account }}"
      become: yes
      run_once: yes
      environment:
        DJANGO_DOTENV_FILE: "{{ install_root }}/.env"
      shell: |
        source {{ venv_full }}/bin/activate
        {{ python_bin_dir }}python{{ python_ver }} ./manage.py {{ django_command }}
      args:
        chdir: "{{ install_root }}"
      register: django_command_debug
      async: 3600
      poll: 10
    - name: "Display command output: {{ django_command }}"
      run_once: yes
      debug:
        msg: "{{ django_command_debug.out.split('\n') }}"
