
Environment: {{ env}}
Playbook: {{sns_playbook }}
Server: {{ inventory_hostname }}
Action: {{ sns_playbook_action }}
AWS User:  {{ s3_bucket_account }}

# ============================
{{ hostvars| to_nice_json }}
# ============================
