[deployment-client]
clientName = {{ env_splunk_group_name }}-{{ env|upper }}-{{ cf_app_tag_key_layer|upper }}-{{ app_ip_last_octet.stdout }}

[target-broker:deploymentServer]
targetUri={{ splunk_target_server }}:{{ splunk_target_port }}
