{{ ansible_eth0.ipv4.address }}:{{ db_host_port }}:{{ cf_data_database_prefix }}{{ cf_data_tag_key_stack }}_{{ common_db_type[cf_data_database_type]['DbNameTable'] }}:{{ cf_data_pgsql_master }}:{{ cf_data_pgsql_password }}