# It's not recommended to systemd service file in-place, because it will be
# overwritten during package upgrades.  If you want to customize, the
# best way is to create this file "/etc/systemd/system/postgresql-9.6.service",
# containing
#	.include /lib/systemd/system/postgresql-9.6.service
#	...make your changes here...
# For more info about custom unit files, see
# http://fedoraproject.org/wiki/Systemd#How_do_I_customize_a_unit_file.2F_add_a_custom_unit_file.3F

.include /lib/systemd/system/postgresql-9.6.service

# Note: changing PGDATA will typically require adjusting SELinux
# configuration as well.

# Note: do not use a PGDATA pathname containing spaces, or you will
# break postgresql-setup.

User=postgres
Group=postgres

# Note: avoid inserting whitespace in these Environment= lines, or you may
# break postgresql-setup.

# Location of database directory
Environment=PGDATA={{ db_server_data_dir }}

ExecStartPre=/usr/pgsql-9.6/bin/postgresql96-check-db-dir ${PGDATA}
ExecStart=/usr/pgsql-9.6/bin/postmaster -D ${PGDATA}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT


# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

