#!/bin/bash
##################################################
# Unpack file using openssl
# v1.0.0 6/21/2017 @ekivemark
#################################################
# /data/pgsql/9.6/data/db_unpack.sh
# Via template hhs_ansible/roles/postgres/templates/db_unpack.sh.j2
# Parameter: filename
#################################################

rm -f workfile.bz2
rm -f workfile

if [ -f "$1" ]; then
   UNPACK_FILE=$1
else
   if [ -f "$1.ssl" ]; then
      UNPACK_FILE=$1.ssl
   else
      exit 1
   fi
fi

if [ -f "$UNPACK_FILE" ]; then
   echo "decrypting..."
   openssl smime -decrypt -in $UNPACK_FILE \
           -binary -inform DEM \
           -inkey ./backup_key.pem.private   -out workfile.bz2
   echo "decompressing..."
   bunzip2 workfile.bz2

else
  echo "nothing to do"
fi
