#!/usr/bin/env bash
export ANSIBLE_HOME=/hhs_ansible/hhs_ansible
echo "###################################################################"
echo "# REMEMBER To \"source $0\" "
echo "# Switching to ansible home: $ANSIBLE_HOME"
if [ -d "$ANSIBLE_HOME" ]
then
    echo "# "
    cd $ANSIBLE_HOME
    echo "# We are ready to rumble!"
    echo "# "
else
    echo "# "
    echo "# Did you \"sudo /bin/bash\" first "
    echo "# "
fi
echo "###################################################################"
